# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
env/
venv/
ENV/
VENV/
.venv/
.env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py
.env

# VS Code
.vscode/

# PyCharm
.idea/

# System
.DS_Store
Thumbs.db

# migrations (opcional: se quiser versionar apenas migrações finais)
**/migrations/
!*/migrations/__init__.py

# Coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.cache
nosetests.xml
pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Docker
*.pid
*.tar
__docker/

# Jupyter Notebooks
.ipynb_checkpoints/

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
*.log
logs/

# Secrets
secrets.json
